<%= form_with(model: function, url: params[:requirement_id].nil? ? function_path : requirement_functions_path, local: true) do |form| %>
  <% if function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(function.errors.count, "error") %> prohibited this function from being saved:</h2>

      <ul>
      <% function.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :function_name %>
  </div>

  <div class="field" hidden>
    <%= form.label :requirement_id %>
    <% requirement_id = !params[:requirement_id].nil? ? params[:requirement_id] : @function.requirement_id %>
    <%= form.number_field :requirement_id, id: :function_requirement_id, value: requirement_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
