<p id="notice"><%= notice %></p>

<h1>Functions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Requirement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @functions.each do |function| %>
      <tr>
        <td><%= function.name %></td>
        <td><%= function.requirement_id %></td>
        <td><%= link_to 'Show', function %></td>
        <td><%= link_to 'Edit', edit_function_path(function) %></td>
        <td><%= link_to 'Destroy', function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Function', new_function_path %>
