<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @function.name %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @function.requirement_id %>
</p>

<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
