<%= form_with(model: requirement, url: params[:section_id].nil? ? requirement_path : section_requirements_path,local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :requirement_number %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :requirement_content %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason, id: :requirement_reason %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :requirement_description %>
  </div>

  <div class="field" hidden>
    <%= form.label :section_id %>
    <% section_id = !params[:section_id].nil? ? params[:section_id] : @requirement.section_id %>
    <%= form.number_field :section_id, id: :requirement_section_id, value: section_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
