<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @requirement.number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @requirement.content %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @requirement.reason %>
</p>

<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>

<p>
  <strong>Section:</strong>
  <%= @requirement.section_id %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
