<%= form_with(model: sheet, url: params[:chapter_id].nil? ? sheet_path : chapter_sheets_path, local: true) do |form| %>
  <% if sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :sheet_content %>
  </div>

  <div class="field">
    <%= form.label :sheet_picture, '画像' %>
    <%= form.file_field :sheet_picture, id: :sheet_picture, multiple: true %>
  </div>

  <div>
    <% if sheet.sheet_pictures.present? %>
    <p>登録されている画像</p>
      <% sheet.sheet_pictures.each do |sheet_picture| %>
      <%= image_tag(sheet_picture.picture_url) %>
      <p>URL: <%= request.protocol + request.host_with_port + sheet_picture.picture_url %></p>
      <% end %>
    <% else %>
    <p>画像は登録されていません</p>
    <% end %>
  </div>

  <div class="field" hidden>
    <%= form.label :chapter_id %>
    <% chapter_id = !params[:chapter_id].nil? ? params[:chapter_id] : @sheet.chapter_id %>
    <%= form.number_field :chapter_id, id: :sheet_chapter_id, value: chapter_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
