<div id="header">
  <h1><%= Constants::PROJECT_NAME %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'ユーザー登録', new_user_path %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>状態</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.status %></td>
        <td>
          <% if user.status == "registered" %>
          <%= link_to '承認する', activate_user_path(user), method: :post %>
          <% end %>
        </td>
        <td>
          <% if !user.admin? %>
          <%= link_to '削除', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
