<div id="header">
  <h1><%= "Project Name" %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to '編集', edit_user_path(@user) %></li>
      <li><%= link_to '戻る', users_path %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<p>
  <strong>ユーザー名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>
</div>
