<div id="header">
  <h1><%= Constants::PROJECT_NAME %></h1>
  <div id="main-menu">     
    <ul>
      <li><%= link_to '仕様書新規作成', new_specification_path %></li>      
    </ul>
  </div>
</div>

<div id="contentsArea">
<table>
  <thead>
    <tr>
      <th>仕様書名</th>
      <th>版</th>
      <th>更新日</th>
      <% if admin? %>
      <th colspan="2">管理</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @specifications.each do |specification| %>
      <% if admin? || has_operation?("read", specification) %>
      <tr>
        <td><%= link_to specification.title, specification %></td>
        <td><%= specification.version %></td>
        <td><%= specification.updated_at %></td>
        <% if admin? %>
        <td><%= link_to "メンバー", specification_members_path(specification.id) %></td>
        <td><%= link_to '削除', specification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
