<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>文書名</th>
      <th>版</th>
      <th>更新日</th>
      <th>閲覧</th>
      <th colspan="2">管理</th>
    </tr>
  </thead>

  <tbody>
    <% @specifications.each do |specification| %>
      <tr>
        <td><%= specification.title %></td>
        <td><%= specification.version %></td>
        <td><%= specification.updated_at %></td>
        <td><%= link_to 'Show', specification %></td>
        <td><%= link_to "メンバー", specification_members_path(specification.id) %></td>
        <td><%= link_to 'Destroy', specification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specification', new_specification_path %>
