<div id="header">
  <div id="quick-search">
    <%= form_tag search_specification_url(@specification), :method => 'get' do %>
      <p>
        <%= text_field_tag :search %>
        <%= submit_tag "検索" %>
      </p>
    <% end %>
  </div>
  <h1><%= specification_title_link_tag %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'プロジェクト', @specification.project %></li>
      <li><%= link_to '章を追加', new_specification_chapter_path(@specification) %></li>
      <li><%= link_to '表紙を編集', edit_specification_path(@specification) %></li>
      <li><%= link_to 'キーワード一覧', project_keywords_path(@project) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">

<p class="document_name">
  <%= @specification.title %>
</p>

<p class="version">
  第<%= @specification.version %>版
</p>

<p class="update_at">
  <%= @specification.updated_at %>
</p>

<p>目次</p>

<table>
  <tbody>
<% @specification.chapters.order("number").each do |chapter| %>
  <tr>
    <td>
  <%= "第"+chapter.number.to_s+"章"  %>
  <%= link_to chapter.name, chapter_path(chapter.id) %>
    </td>
    <td>
    <%= link_to '編集', edit_chapter_path(chapter) %>
    </td>

<% end %>
  </tbody>
</table>
</div>
