<p id="notice"><%= notice %></p>

<p class="document_name">
  <%= @specification.title %>
</p>

<p class="version">
  第<%= @specification.version %>版
</p>

<p class="update_at">
  <%= @specification.updated_at %>
</p>

<%= link_to 'Edit', edit_specification_path(@specification) %> |
<%= link_to 'Back', specifications_path %>
