<div id="header">
  <h1><%= project_name_link_tag %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'プロジェクト編集', edit_project_path(@project) %></li>
      <li><%= link_to '仕様書を追加', new_project_specification_path(@project) %></li>
      <li><%= link_to 'メンバー管理', project_members_path(@project) %></li>
      <li><%= link_to 'キーワード一覧', project_keywords_path(@project) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<table>
  <tbody>
  <% @project.specifications.order("title").each do |specification| %>
  <tr>
    <td>
      <%= link_to specification.title, specification_path(specification.id) %>
      <%= "(第"+specification.version.to_s+"版)" %>
    </td>
  <% end %>
  </tbody>
</table>

</div>
