<%= form_with(model: spec, url: params[:function_id].nil? ? spec_path : function_specs_path, local: true) do |form| %>
  <% if spec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spec.errors.count, "error") %> prohibited this spec from being saved:</h2>

      <ul>
      <% spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number, '仕様番号' %>
    <%= form.number_field :number, id: :spec_number %>
  </div>

  <div class="field">
    <%= form.label :content, '仕様内容' %>
    <%= form.text_area :content, id: :spec_content, placeholder: "Markdown記法が使えます" %>
  </div>

  <div class="field">
    <%= form.label :picture, '画像' %>
    <%= form.file_field :picture, id: :spec_picture %>
  </div>

  <div>
    <% if spec.picture.present? %>
    <p>登録されている画像</p>
      <%= image_tag(spec.picture_url) %>
    <p>URL: <%= spec.picture_url %></p>
    <% else %>
    <p>画像は登録されていません</p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :customer_review, '顧客チェック' %>
    <%= form.check_box :customer_review %>
  </div>

  <div class="field">
    <%= form.label :design_review, '設計レビュー' %>
    <%= form.check_box :design_review %>
  </div>

  <div class="field">
    <%= form.label :test_review, 'テスト設計' %>
    <%= form.check_box :test_review %>
  </div>

  <div class="field" hidden>
    <%= form.label :function_id %>
    <% function_id = !params[:function_id].nil? ? params[:function_id] : @spec.function_id %>
    <%= form.number_field :function_id, id: :spec_function_id, value: function_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
