<p id="notice"><%= notice %></p>

<h1>Specs</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Function</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specs.each do |spec| %>
      <tr>
        <td><%= spec.content %></td>
        <td><%= spec.function_id %></td>
        <td><%= link_to 'Show', spec %></td>
        <td><%= link_to 'Edit', edit_spec_path(spec) %></td>
        <td><%= link_to 'Destroy', spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spec', new_spec_path %>
