<%= form_with(model: chapter, local: true) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :chapter_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :chapter_name %>
  </div>

  <div class="field">
    <%= form.label :prefix %>
    <%= form.text_field :prefix, id: :chapter_prefix %>
  </div>

  <div class="field" hidden>
    <%= form.label :specification_id %>
    <%= form.number_field :specification_id, id: :chapter_specification_id, value: @specification.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
