<tr>
  <td rowspan="<%= rowspan(section.id) %>" class="category", id=<%= html_tag_id(section) %>>
    <%= @chapter.number%>.<%= section.number%><br/>
    <%= link_to section.name, edit_section_path(section) %>
  </td>
  <td colspan="6" class="category"><%= link_to '要求を追加', new_requirement_path(chapter_id: @chapter.id, section_id: section.id) %></td>
</tr>
