<% @chapter.sections.order("number").each do |section| %>
  <% isFirstRequirement = true %>
  <% if !hasRequirements?(section) %>
    <%= render 'section_only_table', section: section %>
  <% else %>

    <% section.requirements.order("number").each do |requirement| %>
  <tr>
      <% if isFirstRequirement %>
    <td rowspan="<%= rowspan(section.id) %>" class="category" id=<%= html_tag_id(section) %>>
      <%= @chapter.number%>.<%= section.number%><br/>
      <%= link_to section.name, edit_section_path(section) %>
    </td>
      <% end %>
      <% isFirstRequirement = false %>
    <td colspan="3" rowspan="3" class="requirement_summary">要求</td>
    <% req_num = @chapter.prefix + "-" + requirement.number.to_s%>
    <td class="requirement_summary", id=<%= html_tag_id(requirement) %>><%= link_to req_num, edit_requirement_path(requirement) %></td>
    <td class="requirement_summary description"><%= requirement.content %></td>
    <td class="requirement_summary"></td>
  </tr>
  <tr>
    <td>理由</td>
    <td class="description"><%= requirement.reason %></td>
    <td></td>
  </tr>
  <tr>
    <td>説明</td>
    <td class="description"><%= requirement.description %></td>
    <td></td>
  </tr>
      <% requirement.functions.each do |function| %>
  <tr>
    <td colspan="6" class="function", id=<%= html_tag_id(function) %>><%= link_to "<"+function.name+">", edit_function_path(function) %></td>
  </tr>
        <% function.specs.each do |spec| %>
  <tr class="spec">
    <% checked = spec.customer_review ? "checked" : "unchecked"%>
    <td class="check_specification <%= checked %>"></td>
    <% checked = spec.design_review ? "checked" : "unchecked"%>
    <td class="design_review <%= checked %>"></td>
    <% checked = spec.test_review ? "checked" : "unchecked"%>
    <td class="test_design <%= checked %>"></td>
    <td id=<%= html_tag_id(spec) %>><%= link_to spec_number(spec), edit_spec_path(spec) %></td>
    <td class="description"><%= markdown(spec.content) %></td>
    <td class="keywords">
      <ul>
        <% spec.spec_keywords.each do |spec_keyword| %>
        <li><%= spec_keyword.keyword.name %></li>
        <% end %>
      </ul>
      <%= form_with(model: SpecKeyword.new, url: spec_keywords_path) do |form| %>
        <% keyword_selector = [] %>
        <% @keywords.each do |keyword| %>
          <% keyword_selector.push([keyword.name, keyword.id]) %>
        <% end %>
        <%= form.select :keyword_id, keyword_selector %>
        <div class="field" hidden>
          <%= form.number_field :spec_id, value: spec.id %>
        </div>
        <%= form.submit %>
      <% end %>
    </td>
  </tr>
        <% end %>
  <tr>
    <td colspan="6"><%= link_to '仕様を追加', new_function_spec_path(function) %></td>
  </tr>
      <% end %>
      <td colspan="6"><%= link_to '機能を追加', new_requirement_function_path(requirement) %></td>
    <% end %>
  <tr>
    <td colspan="6" class="category"><%= link_to '要求を追加', new_section_requirement_path(section) %></td>
  </tr>
  <% end %>
<% end %>
