<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @chapter.prefix %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @chapter.specification_id %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
