<div id="header">
  <div id="quick-search">
    <%= form_tag search_specification_url(@specification), :method => 'get' do %>
      <p>
        <%= text_field_tag :search %>
        <%= submit_tag "検索" %>
      </p>
    <% end %>
  </div>
  <h1><%= specification_title_link_tag %></h1>
  <p class="chapter_name"><%= chapter_name_link_tag %></p>
  <div id="main-menu">
    <ul>
      <% if @chapter.format == "usdm" %>
      <li><%= link_to 'カテゴリを追加', new_chapter_section_path(@chapter) %></li>
      <% elsif @chapter.sheet.nil? %>
      <li><%= link_to '新規作成', new_chapter_sheet_path(@chapter) %></li>
      <% else %>
      <li><%= link_to '編集', edit_sheet_path(@chapter.sheet) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="contentsArea">
<% if @chapter.format == "usdm" %>
<table border="5" rules="all">
  <tr>
    <th class="category">カテゴリ名</th>
    <th class="requirement" colspan="3">要求</th>
    <th class="spec_number">要求番号</th>
    <th class="description" >説明</th>
    <th class="note" >キーワード</th>
  </tr>
  <% if !hasSections? %>
  <tr>
    <td colspan="7" class="category"></td>
  </tr>
  <% else %>
  <%= render 'table', chapter: @chapter %>
  <% end %>
</table>
<% elsif !@chapter.sheet.nil? %>
<div id="sheet">
  <%= markdown(@chapter.sheet.content) %>
</div>
<% end %>
</div>
