<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @chapter.prefix %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @chapter.specification_id %>
</p>

<% @chapter.sections.order("number").each do |section| %>
<div>
  <p>
  <%= @chapter.number%>.<%= section.number%>
  <%= section.name %>
  </p>
  <% section.requirements.order("number").each do |requirement| %>
    <p>
      <%= @chapter.prefix%>-<%= requirement.number %>
    </p>
    <p>
      <%= requirement.content %>
    </p>
    <p>
      <%= requirement.reason %>
    </p>
    <p>
      <%= requirement.description %>
    </p>
    <% requirement.functions.each do |function| %>
      <<%= function.name %>>
    <% end %>
  <% end %>
</div>
<% end %>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
