<!DOCTYPE html>
<html>
  <head>
    <title>Usdm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="top-menu">
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <% if current_user.admin %>
        <li><%= link_to "ユーザー管理", users_path %></li>
          <% end %>
        <% end %>
      </ul>
      <div id="account">
        <ul>
          <% if logged_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
