<!DOCTYPE html>
<html>
  <head>
    <title>Usdm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="headerArea">
      <p>
      <% if !@specification.nil? %>
      <%= link_to @specification.title, @specification %>
      <% else %>
      仕様書一覧
      <% end %>
      </p>
    </div>
    <div id="contentsArea">
    <%= yield %>
    </div>
    <div id="footerArea">Footer</div>
  </body>
</html>
