<!DOCTYPE html>
<html>
  <head>
    <title>Usdm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="headerArea">
      <div class="logo">
      <% if !@specification.nil? %>
      <%= link_to @specification.title, @specification %>
      <% else %>
      <%= link_to "仕様書一覧", root_path %>
      <% end %>
      </div>
      <ul class="menu">
        <li><%= link_to "ユーザー", users_path %></li>
      </ul>
    </div>
    <div id="contentsArea">
    <%= yield %>
    </div>
    <div id="footerArea">Footer</div>
  </body>
</html>
