<%= form_with(model: member, url: params[:specification_id].nil? ? member_path : specification_members_path, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if local_assigns[:edit].present? %>
      <p>User</p>
      <p><%= @member.user.name %></p>
    <% else %>
      <%= form.label :user_id, 'ユーザー' %>
      <% name_selector = [] %>
      <% @users.each do |user| %>
        <% name_selector.push([user.name, user.id]) unless user.admin? %>
      <% end %>
      <%= form.select :user_id, name_selector %>
    <% end %>
  </div>

  <div class="field" hidden>
    <%= form.label :specification_id %>
    <%= form.number_field :specification_id, id: :member_specification_id, value: @specification.id %>
  </div>

  <div class="member_roles">
    <%= fields_for :member_roles do |mr| %>
      <%= mr.label :administrator, 'プロジェクト管理者' %>
      <% is_checked = !@member.member_roles.find_by(role_id: set_role_id("administrator")).nil? %>
      <%= mr.check_box :administrator, checked: is_checked %>

      <%= mr.label :customer, '顧客' %>
      <% is_checked = !@member.member_roles.find_by(role_id: set_role_id("customer")).nil? %>
      <%= mr.check_box :customer, checked: is_checked %>

      <%= mr.label :designer, '設計者' %>
      <% is_checked = !@member.member_roles.find_by(role_id: set_role_id("designer")).nil? %>
      <%= mr.check_box :designer, checked: is_checked %>

      <%= mr.label :tester, 'テスター' %>
      <% is_checked = !@member.member_roles.find_by(role_id: set_role_id("tester")).nil? %>
      <%= mr.check_box :tester, checked: is_checked %>

      <%= mr.label :guest, 'ゲスト' %>
      <% is_checked = !@member.member_roles.find_by(role_id: set_role_id("guest")).nil? %>
      <%= mr.check_box :guest, checked: is_checked %>

    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
